.container {
    height: 100%; 
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    border: 3px;
    border-color: red;
    position: relative;
    h1 {
        margin-left: auto;
        margin-right: auto;
        width: 8em;
        text-align: center;
    }
}

#tableau-client {
    width: 20%;
    height: 100%;
    background-color: gray;
}

#title_client {
    font-size: x-large;
    color: red;
}

#map { 
    height: 100%; 
    width: 80%;
    border: 3px;
    border-color: black;
}

#popup_title {
    text-align: center;
}

#popup_list {
    font-size: medium;
    margin: 0;
    padding: 0;
}

.popup_list_field {
    font-weight: bold;
}